.header{
    height:100px;
    background-color: #05ada7a1;
    display:flex;
    align-items: center;
    justify-content: center;
}
.header img{
    width: 12%;
    padding-top: 15px;
}
.header h1{
    color: #0f4c81;
    font-size:50px;
}